body {
  background-color: var(--sixty-pr-color);
}

.card-container p {
  color: var(--sixty-pr-color);
  margin: 0;
  padding: 10px 0px 0px 20px;
  text-transform: capitalize;
}
.card-container {
  margin: 0 auto;
  width: 580px;
  border: 2px solid var(--sixty-pr-color);
  box-sizing: border-box;
  padding: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
  background-color: var(--thirty-pr-color);
}

.cardImage img {
  width: 200px;
  height: 10rem;
  border-radius: 20px;
  border: 1px solid #000;
}

.cardImage p {
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

.bookInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  margin: 0 auto;
  width: 90%;
  text-align: justify;
  text-transform: capitalize;
}

.priceAndCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#bookDescription {
  color: var(--sixty-pr-color);
  text-align: left;
  padding-left: 20px;
  font-size: 1.3rem;
  box-sizing: border-box;
  line-height: 1em;
  max-height: 1.5 * 3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  width: 100%;
}

.addToCart {
  display: flex;
  color: var(--sixty-pr-color);
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}
